body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

#todo-list {
    list-style: none;
    padding: 0;
}

#todo-list li {
    background: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}